.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 140px;
    height: 120px;
}
.grid div{
    width: 20px;
    height: 20px;

}
.player-one {
    background-color: cyan;
    border-radius: 10px;
}
.player-two {
    background-color: magenta;
    border-radius: 10px;
}
/* .taken {
    background-color: salmon;
} */